<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722741879764-a43uegvrb2p7nccsqas4vnb76t33jv9j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722741879764-a43uegvrb2p7nccsqas4vnb76t33jv9j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>722741879764-rt1qfhi1dshmnvccs9cjm5r74gqngo55.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC_LUgibtea36ORMX4DDgmVW6Yv9fUZCFY</string>
	<key>GCM_SENDER_ID</key>
	<string>722741879764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>lovers1-dfa34</string>
	<key>STORAGE_BUCKET</key>
	<string>lovers1-dfa34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722741879764:ios:a832c294456c6dd0d1ac41</string>
</dict>
</plist>